body {
  display: block;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: beige;
} 

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

.card {
  display: block;
  position: center;
  width: 400px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  padding: 30px 50px;
  background: #fff;
  margin: 20px;
  align-self: center;
}

.cards
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
  margin-top: 10px;
  margin: auto;
  align-self: center;
}

.card:hover {
  height: 200px;
}

img {

  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.5);
  float: right;
  width:  200px;
  height: 200px;
  object-fit: cover;
}

h1{
  font-size: 35px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
  margin-left: 30px;

}

.button_fp{
  position: absolute;
  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;

}

/* Path: propspractice/src/App.css */
/* .App {
  text-align: center;
} */
